<h1><center>Your Ticket has been sucessfully booked<center></h1><br>
<center><h1>Ticket</h1></center>
	<center>Name : {{ data.username }}</center>
	<center>Source: {{ data.source }}</center>
	<center>Destination: {{ data.dest }}</center>
	<center>Class: {{ data.class }}</center>
	<center>No of Passengers : {{ data.number }}</center>
	<center>Type of ticket : {% if data.type == '1' %}Single{% else %}Return{% endif %}</center>
	<center>Amt Paid: {{ data.amount }}</center>
<html>
<head>
<link rel='stylesheet' href="{% static 'ticketbooking/index.css' %}">
<link rel="shortcut icon" href="logofig.jpg" />
<script>
function myFunction() {
    window.print();
}
</script>
</head>
<body style="background-color: F5F1F0;">

<table align = "Center">
<tr>
<td>
<button onclick="myFunction()">Print this page</button>
</td></tr>
<tr>
<td><a href="{% url 'ticket:index' %}"><button>Home</button></a>
</td>
</tr>
</body style="background-color: F5F1F0;">
</html>